* {
  margin: 0;
  padding: 0;
}

:root {
  --black-color: #000;
  --white-color: #fff;
  --main-color: #912992;
  --main-transition: 0.4s;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
body {
  height: 6000px;
  font-family: "Inter", sans-serif;
}
/* custome header */
.custom-header {
  position: relative;
}
.custom-header::before {
  content: "";
  position: absolute;
  top: -22px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(to right, #912992, #dd3cdf);
  width: 100px;
  height: 4px;
}
.custom-header h2 {
  text-align: center;
  line-height: 1.4;
}
/* start custom link */
.custom-link {
  color: var(--main-color);
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  transition: var(--main-transition);
}
.custom-link .arrow {
  display: flex;
  align-items: center;
  margin-top: 1px;
  transition: var(--main-transition) ease;
  transform: translateX(8px);
}
.custom-link:hover .arrow {
  animation: arrow-right 0.5s infinite linear;
}
.custom-link:hover {
  color: var(--main-color);
}
/* end custom link */
/* navbar */
.navbar {
  position: sticky;
  z-index: 999;
  width: 100%;
  background-color: var(--black-color);
  border-top: 1px solid #a80da3;
}

.navbar .container {
  display: block;
}

.navbar .navbr-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}
.navbar .logo {
  display: block;
}

.navbar .logo img {
  width: 70px;
}

.navbar .links-part {
  display: flex;
  align-items: center;
}

.navbar .navigation-links {
  display: flex;
}

@media (max-width: 767px) {
  .navbar .navigation-links {
    display: none;
    position: absolute;
    background-color: black;
    padding: 15px 20px;
    width: 100%;
    left: 0;
    top: 82px;
  }
  .navbar .navigation-links li:not(:last-child) {
    margin-bottom: 15px;
  }
}

.navbar .navigation-links.show {
  display: block;
}
.navbar .navigation-links .nav-link {
  padding: 0 10px;
  color: var(--black-color);
  transition: var(--main-transition);
  color: var(--white-color);
}

.navbar .navigation-links .nav-link.active,
.navbar .navigation-links .nav-link:hover {
  color: #bd37b9;
}

.navbar .navigation-links .nav-link.active {
  font-weight: bold;
}
.navbar .menu-bar {
  color: var(--white-color);
  font-size: 25px;
  cursor: pointer;
  transition: var(--main-transition);
}

@media (min-width: 767px) {
  .navbar .menu-bar {
    display: none;
  }
}
.btn {
  padding: 14px 25px;
  cursor: pointer;
  border: none;
  outline: none;
  font-weight: bold;
  background-color: #530d4c;
  color: var(--white-color);
  border-radius: 5px;
}

.navbar .btn:active,
.navbar .btn:hover {
  background-color: #530d4c;
  color: var(--white-color);
}
/* landing */
.landing,
.team,
.companies,
.choose-us,
.case-studies {
  position: relative;
  padding-top: 80px;
}
.landing .text {
  line-height: 1.6;
}
.landing .text h2 {
  font-size: 30px;
  margin-bottom: 28px;
  font-weight: normal;
}
.landing .text h2 .colored {
  color: var(--main-color);
}
.landing .text .bold {
  font-weight: bold;
}
.landing .text p {
  margin-bottom: 70px;
}

.landing .text a {
  display: block;
}

.landing .text a .btn:active,
.landing .text a .btn:hover {
  background-color: #530d4c;
  color: var(--white-color);
}
.landing .img img {
  width: 600px;
}
/* services */
.services {
  padding: 60px 0;
  overflow: hidden;
  background-color: #eee;
}

.services .special-header h2 {
  margin-bottom: 50px;
  text-align: center;
  background: linear-gradient(to right, #761576 20%, #1873bf 40%, #fbae08 60%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.services .container .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.services .row::-webkit-scrollbar {
  width: 0;
}
.services .card {
  padding: 20px;
  transition: 0.5s;
}
.services .card.active {
  border-color: var(--main-color);
  margin-top: 30px;
}
.services .card h4 {
  text-transform: capitalize;
  color: var(--main-color);
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}
.services .card p {
  font-size: 14px;
}
.services .card img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 1px solid var(--main-color);
  margin-bottom: 20px;
}
.services .controls {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 25px auto 0;
}
.services .controls li {
  width: 8px;
  height: 8px;
  border: 1px solid #0e89d0;
  border-radius: 50%;
  margin: 0 4px;
  cursor: pointer;
}
.services .controls li.active {
  background-color: #0e89d0;
}

/* team */
.team,
.companies,
.choose-us {
  background-color: var(--white-color);
}
.team::before,
.companies .text::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 70px;
  background: linear-gradient(to right, #912992, #dd3cdf);
}
.team::before {
  left: 250px;
  top: 0;
  clip-path: circle(50% at 50% 0);
}
@media (max-width: 991px) {
  .team .team-content {
    flex-direction: column-reverse;
  }
}
.team .text,
.companies .text {
  position: relative;
  padding: 30px 0;
}
.team .text::before,
.companies .text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  width: 80px;
  height: 4px;
  background: linear-gradient(to right, #912992, #dd3cdf);
}
@media (max-width: 991px) {
  .team .text::before,
  .companies .text::before {
    display: none;
  }
}
.team .text .title {
  margin-bottom: 30px;
}
.team .text .description {
  font-size: 16px;
  color: gray;
  line-height: 1.6;
  margin-bottom: 50px;
}
.team .text .description .colored {
  color: var(--main-color);
}
.team .image {
  position: relative;
}
.team .image img {
  max-width: 100%;
  border-radius: 15px;
}
.team .image .play {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid var(--white-color);
  width: 50px;
  height: 50px;
  background-color: var(--main-color);
  border-radius: 50%;
  outline: 15px solid #ffffff5e;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team .image .play svg {
  font-size: 21px;
  color: var(--white-color);
  cursor: pointer;
}

@keyframes arrow-right {
  0%,
  100% {
    transform: translateX(8px);
  }
  50% {
    transform: translateX(15px);
  }
}

/* companies */
.companies {
  overflow: hidden;
}
.companies .text {
  position: relative;
}
.companies .text::after {
  right: 30%;
  bottom: 0;
  clip-path: circle(50% at 50% 100%);
}

.companies .text .title {
  line-height: 1.4;
}
.companies .auto-slider-container {
  background-color: #eee;
  padding: 20px;
  display: flex;
  align-items: center;
}
.companies .auto-slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: rotation 30s infinite linear;
}
.companies .auto-slider-container:hover .auto-slider {
  animation-play-state: paused;
}
.companies .auto-slider li {
  margin: 0 15px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* choose us */
.choose-us {
  padding-bottom: 80px;
}
.choose-us .description {
  text-align: center;
  margin-top: 50px;
  color: gray;
  font-size: 14px;
}
.choose-us .testimonials {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}
.choose-us .testimonials-text {
  text-align: center;
  position: relative;
  height: 250px;
  width: 100%;
}
.choose-us .testimonials-text .user-text {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.choose-us .testimonials-text .user-text.active-text {
  display: block;
}
.choose-us .testimonials-text .quote {
  position: absolute;
  width: 10px;
}
.choose-us .testimonials-text .quote-left {
  right: -50px;
  bottom: 0;
}
.choose-us .testimonials-text .quote-right {
  left: -50px;
  top: 0;
}
.choose-us .testimonials-text p {
  line-height: 2;
  color: gray;
}
.choose-us .testimonials-img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.choose-us .testimonials-img .user-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  opacity: 0.5;
  transition: var(--main-transition);
}
.choose-us .testimonials-img .user-img-container.active-img {
  opacity: 1;
}
.choose-us .testimonials-img .user-img {
  border-radius: 50%;
  width: 60px;
  margin-bottom: 10px;
  box-shadow: 0 0 30px #8080809e;
}

.choose-us .testimonials-img .review {
  display: flex;
  align-items: center;
  justify-content: center;
}
.choose-us .testimonials-img .review svg {
  font-size: 12px;
  padding: 5px;
  color: #ffdb3f;
}
.choose-us .testimonials-img .name h4 {
  font-size: 20px;
  color: var(--main-color);
  margin-bottom: 0;
  font-weight: bold;
}
.choose-us .testimonials-img .name p {
  font-size: 11px;
  color: gray;
  transition: var(--main-transition);
}
.choose-us .testimonials-img .user:hover .name p {
  color: var(--black-color);
}
@media (max-width: 991px) {
  .choose-us .testimonials .controls {
    display: none;
  }
}
.choose-us .testimonials .controls .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid var(--main-color);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
  cursor: pointer;
}
.choose-us .testimonials .controls .arro-right {
  right: -200px;
  border-radius: 50%;
}
.choose-us .testimonials .controls .arro-left {
  left: -200px;
  border-radius: 50%;
}
/* case stuides */
.case-studies {
  background-color: #eee;
  padding-bottom: 80px;
}
.case-studies .custom-header h2 {
  margin-bottom: 60px;
}
.case-studies .case-study {
  background-color: #f1f2ff;
  border-radius: 15px;
  display: flex;
  margin-bottom: 30px;
}
@media (max-width: 991px) {
  .case-studies .case-study {
    flex-direction: column;
  }
}
.case-studies .case-study img {
  max-width: 100%;
  border-radius: 15px;
}
.case-studies .case-study .text {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.case-studies .case-study .text .title {
  margin-bottom: 20px;
}
.case-studies .case-study .text .descirption {
  font-size: 14px;
  color: gray;
  line-height: 2;
}
.case-studies .case-study .custom-link {
  margin-top: 50px;
  text-align: right;
  margin-left: auto;
}
.case-studies .foot .custom-link {
  justify-content: flex-end;
}
@keyframes rotation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
