* {
  margin: 0;
  padding: 0;
}

:root {
  --black-color: #000;
  --white-color: #fff;
  --main-color: #912992;
  --main-transition: 0.3s;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  height: 6000px;
  font-family: "Inter", sans-serif;
}

/* navbar */
.navbar {
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: var(--black-color);
  border-top: 1px solid #a80da3;
}

.navbar .container {
  display: block;
}

.navbar .navbr-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}

.navbar .logo-container {
  /* margin-left: 0;
    margin-right: auto; */
}

.navbar .logo {
  display: block;
}

.navbar .logo img {
  width: 70px;
}

.navbar .links-part {
  display: flex;
  align-items: center;
}

.navbar .navigation-links {
  display: flex;
}

@media (max-width: 767px) {
  .navbar .navigation-links {
    display: none;
    position: absolute;
    background-color: black;
    padding: 15px 20px;
    width: 100%;
    left: 0;
    top: 82px;
  }
  .navbar .navigation-links li:not(:last-child) {
    margin-bottom: 15px;
  }
}

.navbar .navigation-links.show {
  display: block;
}

@media (max-width: 767px) {
  .navbar .navigation-links {
  }
}

.navbar .navigation-links li {
}

.navbar .navigation-links .nav-link {
  padding: 0 10px;
  color: var(--black-color);
  transition: var(--main-transition);
  color: var(--white-color);
}

.navbar .navigation-links .nav-link.active,
.navbar .navigation-links .nav-link:hover {
  color: #bd37b9;
}

.navbar .navigation-links .nav-link.active {
  font-weight: bold;
}

.navbar .navigation-links {
}

.navbar {
}

.navbar .menu-bar {
  color: var(--white-color);
  font-size: 25px;
  cursor: pointer;
  transition: var(--main-transition);
}

@media (min-width: 767px) {
  .navbar .menu-bar {
    display: none;
  }
}

.btn {
  padding: 14px 25px;
  cursor: pointer;
  border: none;
  outline: none;
  font-weight: bold;
  background-color: #530d4c;
  color: var(--white-color);
  border-radius: 5px;
}

.navbar .btn:active,
.navbar .btn:hover {
  background-color: #530d4c;
  color: var(--white-color);
}

.navbar .contact {
}

.navbar {
}

/* landing */
.landing {
  position: relative;
  padding-top: 120px;
}

.landing {
}

/* .landing .landing-content {
  display: flex;
  align-items: center;
} */

.landing .text {
  line-height: 1.6;
}

.landing .text h2 {
  font-size: 30px;
  margin-bottom: 28px;
  font-weight: normal;
}

.landing .text h2 .colored {
  color: var(--main-color);
}

.landing .text .bold {
  font-weight: bold;
}

.landing .text p {
  margin-bottom: 70px;
}

.landing .text a {
  display: block;
}

.landing .text a .btn:active,
.landing .text a .btn:hover {
  background-color: #530d4c;
  color: var(--white-color);
}

.landing .img img {
  width: 600px;
}

@media (max-width: 767px) {
}

.landing {
}

/* services */

.services {
  padding-top: 80px;
  overflow: hidden;
}

.services .special-header h2 {
  margin-bottom: 50px;
  text-align: center;
  background: linear-gradient(to right, #761576 20%, #1873bf 40%, #fbae08 60%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.services .container .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.services .row::-webkit-scrollbar {
  width: 0;
}

.services {
}

.services {
}

.services .card {
  padding: 20px;
  transition: 0.5s;
}

.services .card.active {
  border-color: var(--main-color);
  margin-top: 30px;
}

.services .card h4 {
  text-transform: capitalize;
  color: var(--main-color);
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

.services .card p {
  font-size: 14px;
}

.services .card {
}

.services .card {
}

.services .card img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 1px solid var(--main-color);
  margin-bottom: 20px;
}

.services .controls {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
}
.services .controls li {
  width: 8px;
  height: 8px;
  border: 1px solid #0e89d0;
  border-radius: 50%;
  margin: 0 4px;
  cursor: pointer;
}

.services .controls li.active {
  background-color: #0e89d0;
}
